html, body {
  height: 100%;
}
h1 {
  text-align: center;
}
.jumbotron {
  background-color: grey;
  padding: .5em .6em;
}
#announce {
  width: 100%;
}
#contactPage {
  text-align: right;
}
img {
  height: 60%;
  width: 60%;
}
p {
  width: 60%;
  padding-top: 10px;
}
.background {
  background-color: #d3d3d3;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 7px;
}
.bgcolor {
  background-color: #d3d3d3;
  border-radius: 7px;
}
.rightinfo {
  text-align: right;
}
#options {
  width: 166px;
}
textarea {
  width: 166px;
  height: 100px;
}
.carousel img {
  width: 100%;
}
